@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	box-sizing : content-box;
}

table {
	border-collapse: collapse;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
}

table.boardList {
	width: 800px;
}

table.boardView {
	margin-top : 30px;
	width: 800px;
}

table.boardComment {
	width: 800px;
}

.container h2 {
	margin : 30px;
}

input {
	text-align: center;
}

td, th {
	border: solid 1px #d3d3d3;
	padding: 5px;
}

.container {
	margin: 30px auto;
	height : 600px;
	width : 1000px;
}

a, a:visited {
	color : black;
	text-decoration: none;
}

li  {
	list-style : none;
}

header, footer {
	background-color : blue;
	text-align : center;
	color : white;
	height : 100px;
}

header {
	line-height: 3;
}

footer {
	line-height: 6;
}

header, footer #wrap {
	padding : 20px auto;
}

nav {
	background-color : blue;
	height : 50px;
	color : white;  
}

nav li {
	float: left;
	width : 150px;
	margin-left : 30px;
	font-weight: bolder;
	padding-top : 15px;
}

nav a, nav a:visited {
	color : white;
	text-decoration: none;
}

nav a:hover {
	color : red;
}
/* header, footer .warp {
	
} */